<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 	
	<servlet>
		<servlet-name>AppengineDemo</servlet-name>
		<servlet-class>com.google.appengine.demo.AppengineDemoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppengineDemo</servlet-name>
		<url-pattern>/appenginedemo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadDownloadServlet</servlet-name>
		<servlet-class>com.google.appengine.demo.UploadDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadDownloadServlet</servlet-name>
		<url-pattern>/shareImage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RealtimeServlet</servlet-name>
		<servlet-class>com.google.appengine.demo.RealtimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RealtimeServlet</servlet-name>
		<url-pattern>/shareRealtime</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
        <web-resource-collection>
        	<url-pattern>/shareImage</url-pattern>
            <url-pattern>/draw-share.html</url-pattern>

        	<url-pattern>/shareRealtime</url-pattern>
            <url-pattern>/draw-realtime.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
	
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
</web-app>